name: 01-ant-design

on:
  schedule:
    - cron: '0 2 * * *' # ron on 2am every day
  push:
    branches:
      - main
    paths:
      - '.github/workflows/01-ant-design.yml'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/01-ant-design.yml'
  workflow_dispatch:


permissions:
  contents: write
  actions: write

jobs:
  ant-design-5:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}


      - name: Set up Git
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
        
      - name: Pull latest changes
        run: git pull origin main --rebase # 使用 rebase 来避免合并提交
        
      - name: Modify release.md and commit changes
        run: |
          echo "## New Release $(date +"%Y.%m.%d_%H_%M_%S")" >> release.md
          git add release.md
          git commit -m "Update release.md" || echo "No changes to commit"
          
      - name: Push changes
        run: git push origin HEAD:main || echo "Push skipped due to no changes or conflicts"

      - name: Checkout mirror repo
        run: |
          git clone https://github.com/ant-design/ant-design.git --depth=1

      - uses: oven-sh/setup-bun@v2

      - name: zip mirror repo source
        uses: montudor/action-zip@v1
        with:
          args: zip -qq -r ant-design-source.zip ./ant-design
          
      - run: cd ant-design && ls -la && bun install

      - name: add content path
        run: |
          sed -i 's/manifest: {}/runtimePublicPath: {}, manifest: {basePath: "\/mirror\/ant-design-6\/",}, base: "\/mirror\/ant-design-6\/", publicPath: "\/mirror\/ant-design-5\/"/' ./ant-design/.dumirc.ts
          sed -i 's/"devtool": false/"devtool": false,  "publicPath": "\/mirror\/ant-design-6\/"/' ./ant-design/mako.config.json
          
      - name: build site
        run: cd ant-design && bun run predeploy
        env:
          NODE_OPTIONS: --max_old_space_size=4096

      - name: build dist and bundle analyzer report
        run: cd ant-design && bun run dist
        env:
          ANALYZER: 1
          NODE_OPTIONS: --max_old_space_size=4096

      - name: move report.html to _site
        run: |
          if [ -f ./ant-design/report.html ]; then
            mv ./ant-design/report.html ./ant-design/_site && echo "report.html moved to _site"
          fi

      - name: replace path
        run: |
          find ./ant-design/_site -type f \( -name "*.html" -or -name "*.js" \) -exec sed -i 's/href="\//href="\/mirror\/ant-design-6\//g' {} +
          find ./ant-design/_site -type f \( -name "*.html" -or -name "*.js" \) -exec sed -i 's/src="\/umi/src="\/mirror\/ant-design-6\/umi/g' {} +
      - name: zip zite
        uses: montudor/action-zip@v1
        with:
          args: zip -qq -r ant-design-5.zip ./ant-design/_site

      - name: Generate release tag
        id: tag
        run: |
          echo "::set-output name=release_tag::ant-design-5_$(date +"%Y.%m.%d_%H_%M_%S")"
      - name: GH Release
        # You may pin to the exact commit or the version.
        # uses: softprops/action-gh-release@de2c0eb89ae2a093876385947365aca7b0e5f844
        uses: softprops/action-gh-release@v0.1.15
        with:
          tag_name: ${{ steps.tag.outputs.release_tag }}
          files: |
            ant-design-5.zip
            ant-design-source.zip
